
body {
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    margin: 0;
    position: relative;
    
}
.container{
    color: black;
    background-color: gray;
    margin: 60 100 60 100;
    margin-top: 80px;
    height: 75%;
    box-shadow: 2px 10px 5px 0px rgba(63, 63, 63, 0.75);
    border-radius: 30px;
    
}
.line {
    border-top: 2px solid #444444;
}
.background{
    position: absolute;
    opacity: 0.4;
    width: 100%; 
    height:100%;
    right:0;
    border-top-left-radius:  30px;
    border-bottom-left-radius: 30px; 


}
.left-col {
    background-color: rgb(219, 219, 219);
    height: 100%;
    width: 200%;
    border-top-left-radius:  30px;
    border-bottom-left-radius: 30px; 
}

.avt{ 
    padding-bottom:50px;
    right: 0;
    margin-left:100px;
}
.b{
    border: .2px solid gray;
}
.status{
    font-size: 35px;
    color: #191919;
    text-align: right;
}

#input{
    border-radius: 20px;
}

.right-col {
    background-color: #ffffff;
    border-top-right-radius:  30px;
    border-bottom-right-radius: 30px;
    padding-top: 125px;

}
form {
    margin-top: 40px;
}
#input {
    -webkit-box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
    -moz-box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
    box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
}
.button {
    padding: 0px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #35cc7b;
    border: none;
    border-radius: 25px;
    -webkit-box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
    -moz-box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
    box-shadow: 10px 11px 16px 0px rgba(99,99,99,0.38);
    height: 50px;
  }
  
  .button:hover {
    background-color: #84ffbd;
    border-color: #35cc7b;
}
  
  .button:active {
    background-color: #0062cc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  .forgot-info{
      margin-top: 150px;
      bottom: 0;
  }
  .forgot-info #forgot{
    text-decoration: none;
    color: #757575;
  }
  .info{
    margin-top: 100px;
    bottom: 0;
}
   .info #forgot{
    text-decoration: none;
    color: #757575;
}
  